@font-face {
    font-family:'boogy_brut_poster_testwhite';
    src: url('boogybrutpostertest-white-webfont.woff2') format('woff2'),
    url('boogybrutpostertest-white-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Neue Haas Grotesk Display Pro';
    src: url('NeueHaasDisplay-Roman.woff2') format('woff2'),
    url('NeueHaasDisplay-Roman.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


body { 
    background-color:black;
    width: 100%;
    height: auto;
    margin: 0%;
    display: flex;
    position: relative;
    flex-direction:column;
    overflow-x: hidden;
    align-items: center;
}

.imgbg{
z-index: -99;
width: 100%;
height: 100%;
vertical-align: middle;
align-items: center;
position:absolute;
overflow: scroll;
margin: 0;
}


.container-marker{
    width: 100%;
    height: auto;
    z-index: 3;
    position: fixed;
   margin: 0;
    float: right;
    writing-mode:vertical-rl;
    margin-top: 4%;
    
}

.header {
  width: 100%;
  height: 40px;
z-index: 3;
position: fixed;

}

.container-1 {
 width: 100%;
 margin-top: 1%;
 margin-bottom: 1%;
 text-align: center;

}


.header a.logo {
    padding-left: 54px;
    position: relative;
    font-size: 25px;
    width: 100%;
    color: #FFFFFF;
    letter-spacing: 2px;
    text-transform: uppercase; 
    font-family: 'boogy_brut_poster_testwhite';
    text-decoration: none;
    z-index: 3;
}


#button{
    width: 100%;
    position:relative;
    float: right;
    width: 18px;
    height: auto;
    padding-right: 15px;
    z-index: 1;
}

.main-container{
    width: 100%;
    height: 50%;
    display: block;
    flex-direction:column;
    justify-content: center;
    z-index: 2;
    position: relative;
}

.container-2{
    height: 100%;
    margin-top:22%;
    margin-bottom:22%;
    position: relative;
    text-transform: uppercase;
}


#title-01{
    font-family:'boogy_brut_poster_testwhite';
    text-align: center;
    width: 100%;
    color: #FFFFFF;
    font-size: 80px; 
    letter-spacing:5px;
    word-spacing: 3px;
    opacity: 1;
    
}

.arrow {
    width: 100%;
    height: auto;
    display: flex;
    margin-left: 50%;
    margin-right: 50%;
}

#button1{
    height:7px;
}

.second-container{
    width: 50%;
    height: auto;
    box-sizing: border-box;
    flex-direction:column;
    display: flex;
    margin-right: 25%;
    margin-left: 25%;
    align-items: center;
    justify-content: center;
}

p {
font-family: 'Neue Haas Grotesk Display Pro';
font-weight: normal;
font-size: 16px;
padding-top: 15%;
text-align:justify;
text-align-last: center;
color: #FFFFFF;
line-height: 125%;
}


h1{ 
    text-transform: uppercase;
    height: auto;
    font-family:'boogy_brut_poster_testwhite';
    text-align: center;
    width: 100%;
    color: #FFFFFF;
    font-size: 65px; 
    font-weight: normal;
    letter-spacing: 4px;
    padding-top: 10%;
    
    
}

#video {
    display: flex;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3%;
     }

#gif{
    display: flex;
    width:50%;
    margin-left: 25%;
    margin-right:25%;
    margin-top: 3%;
   
    
    
}

p1 {
font-family: 'Neue Haas Grotesk Display Pro';
font-weight: normal;
font-size: 16px;
text-align:justify;
text-align-last: center;
color: #FFFFFF;
line-height: 125%;
margin-top: 2%;
}


#title-02{
   font-family: 'Neue Haas Grotesk Display Pro';
   width: 5%;
   height: 100%;
    position: relative;
    float: right;
   writing-mode:vertical-rl;
color: #FFFFFF;
    text-transform: uppercase;
    font-size: 12px;
    padding-right: 15px;
}

footer {
    width:  100%;
    overflow:hidden;
    height: 40px;
    margin-top: 3%;
    
    }

#title_001{
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-size: 11px;
    line-height:125%;
    font-family: 'Neue Haas Grotesk Display Pro';
    overflow: hidden;
         
}

.slideshow-container {
  width: 100%;
height: auto;
  position: relative;
margin: auto;
margin-bottom: 5%;

}

.mySlides {
  display: none;
}

.prev .next {
  cursor:pointer;
  position: absolute;
  top: 50%;
  width: 8px;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 9px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select:contain;
}

.next {
border-radius: 3px 0 0 3px;
color: #FFFFFF;
float: right;
}

.prev {
border-radius: 3px 0 0 3px;
color: #FFFFFF;
float: left;
}

.numbertext {
  color: #ffffff;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
 font-family: 'Neue Haas Grotesk Display Pro';

}

.fade {
  animation-name: fade;
  animation-duration: 1s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}


    
    


    
