@font-face {
    font-family:'boogy_brut_poster_testwhite';
    src: url('boogybrutpostertest-white-webfont.woff2') format('woff2'),
         url('boogybrutpostertest-white-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Neue Haas Grotesk Display Pro';
    src: url('NeueHaasDisplay-Roman.woff2') format('woff2'),
        url('NeueHaasDisplay-Roman.woff') format('woff'),
    font-weight: 500;
    font-style: normal;
    
}


body { 
    margin: 0px;
    display: flex;
    flex-direction: column; 
    box-sizing: border-box;
}

#backcontainer {
    position: fixed;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    z-index: -99;
    overflow: hidden;
    
}
#myVideo {
    position: fixed;
	right: 0;
	bottom: 0;
	min-width: 100%;
	min-height: 100%;
	z-index: 0;
   
}

.menu{
    width: 100%;
    height: 35px;
    z-index: 15;
    position: fixed;
    
}

#logo {
   
   position: relative;
float: right;
    margin: 15px;
    width: 2%;
    height: auto;
    border-width: 0 2px 2px 0;
    }

.projectroom_title {
    position: relative;
    width: 100%;
    height: 100%;}
    
#ibackground {
    width: 100%;
    height: 100%;
    position: relative;
    }
    
.projectroom1  {
    position: relative;
    width: 100%;
     height:100%;
    color: white;
    text-transform: uppercase;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    font-family: 'boogy_brut_poster_testwhite';
    }

.queromorrer{
    margin-top:25%;
    margin-bottom:25%;
    position: relative;
      }


#text-01{
    
    font-family:'boogy_brut_poster_testwhite';
    text-align: center;
    width: 100%;
    color: #FFFFFF;
    font-size: 30px; 
    letter-spacing: 2px;
    opacity: 1;
    
}


#text-02{
    font-family: 'Neue Haas Grotesk Display Pro';
    width: 100%;
    text-align: center;
    color: #FFFFFF;
    font-size: 18px; } 



footer {
    width: 100%;
    height: 50px;
    }

#title_001{
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    font-family: 'Neue Haas Grotesk Display Pro';
         
}
